* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    text-decoration: underline;
    font-size: 50px;
}

i {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

i:hover {
    cursor: pointer;
}

.main {
    width: 80%;
    height: fit-content;
    background-color: aqua;
    margin: 0 auto;
    align-items: center;
    border: 1px solid black;
}

#my-input {
    width: 100%;
    height: 217px;
    font-size: 20px;
    margin-top: 0;
    background-color: aliceblue;
    padding-left: 20px;
    border-top: 1px solid black;
}

#my-input:focus {
    outline: none;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.textcenter {
    text-align: center;
}

/* .eraser{

} */